@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins' ,sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f1f1f1;
    overflow: hidden;
}
#text {
    position: relative;
    color: #ffffff;
    font-weight: 700;
    font-size: 12em;
    line-height: 1.2em;
    letter-spacing: 2px;
    text-align: center;
    transform: rotate(-28deg) skew(25deg);
}
#text:before {
    content: attr(data-text);
    position: absolute;
    top: 30px;
    left: -75px;
    color: rgba(0, 0, 0, 0.973);
    text-shadow: none;
    filter: blur(23px);
    z-index: -1;
}